.adoption-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.adoption-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adoption-container .content section {
  width: 100%;
  max-width: 390px;
}

.adoption-container .content section h1 {
  margin: -5px 0 32px;
  font-size: 32px;
}

.adoption-container .content section p {
  padding: -10px 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #3d3d3d;
  line-height: 22px;
}

.adoption-container .content form {
  width: 100%;
  max-width: 450px;
}

.adoption-container .content form input {
  margin-top: 8px;
}

.adoption-container .content form p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #4d4d4d;
}